<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Dash</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1a89f55a7.js"></script>
    <link rel="stylesheet" href="../public/assets/css/styles.css" type="text/css" />

    <style>
        .burger-navbar {
            color: red;
            background-color: gold;
            font-family: 'Knewave', cursive;
        }

        .devour-button {
            color: red;
            font-family: 'Knewave', cursive;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light burger-navbar d-flex justify-content-center">
        <h1><i class="fa fa-hamburger"></i> Burger-Dash <i class="fa fa-running"></i></h1>
    </nav>
    <br>
    <div class="container">
        {{{body}}}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="././././assets/css/js/burger.js"></script>

</html>