<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Dash</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1a89f55a7.js"></script>
    <link rel="stylesheet" href="../public/assets/css/styles.css" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-light burger-navbar d-flex justify-content-center">
        <h1><i class="fa fa-hamburger"></i> Burger-Dash <i class="fa fa-running"></i></h1>
    </nav>
    <br>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="burgerOrder">Enter the name of the burger you'd like to order then click the <b>Order
                        Up!</b> button:</label>
                <input type="text" class="form-control" id="burgerOrder">
            </div>
            <button type="submit" class="btn btn-primary">Order Up!</button>
        </form>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>Orders</h3>
                <hr>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Order #1: - Hulk Burger</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button class="btn btn-warning">Devour</button>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <h3>Devoured</h3>
                <hr>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>